p {
    font-size: 26px;
    text-indent: 2em;
}

.bg {
    background-color: azure;
}

/*layout*/
#wrapper {
    width: 1200px;
    background: #ddd;
    margin: auto;
}

#header {
    height: 300px;
    background: #fcc;
}
.clear{
    clear: both;
}
#content {
    height: 800px;
}


#left {
    float: left;
    width: 900px;
    background: bisque;
    height: 800px;

}

#right {
    float: left;
    width: 300px;
    height: 800px;
    background: #cff;
}

#footer {
    height: 100px;
    background: #ccf;

}

#footer .logo{
    margin: auto;
    alignment: center;
    font-size: 13px;
}

#rz {
    font-family: monospace;
    font-size: 36px;
    color: darkred;
}

h1,
p,
th,
.bg {
    font-family: 楷体;
}

form.kk {
    font-family: 黑体;
}

a:link {
    color: #000;
}

a:visited {
    color: aquamarine;
}

a:hover {
    color: yellow;
}

a:active {
    color: chartreuse;
}

ul li {
    display: inline;
}